apiVersion: apps/v1
kind: Deployment              
metadata:
  name: backend
  namespace: production
spec:
  replicas: 2                 
  selector:
    matchLabels:
      app: backend           
  template:
    metadata:
      labels:
        app: backend         
    spec:
      containers:
      - name: backend
        image: echchablihamza/smartimage:latest 
        ports:
        - containerPort: 7001 
        env:

        # - name: SPRING_PROFILES_ACTIVE
        #   valueFrom:
        #     configMapKeyRef:
        #       name: backend-config
        #       key: SPRING_PROFILES_ACTIVE
        # - name: LOG_LEVEL
        #   valueFrom:
        #     configMapKeyRef:
        #       name: backend-config
        #       key: LOG_LEVEL
      
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: DB_PASSWORD