apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: production
spec:
  type: ClusterIP
  sessionAffinity: ClientIP  
  sessionAffinityConfig:     
    clientIP:
      timeoutSeconds: 10800  
  selector:
    app: backend        
  ports:
  - port: 7001         
    targetPort: 7001