apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-local-pv
  namespace: production
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/k8s-postgres"
  storageClassName: local-path